.footer{
    grid-area: ft;
    border: rgb(0, 0, 0) solid 2px;
    background-color: #fbf5ed;
    display: block;
}

#btn{
    background-color: #01adb9;
    display: inline-block;
    padding: 3px 25px 4px;
    text-transform: capitalize;
    color: whitesmoke;
    font-size: 25px;
    letter-spacing: 3.5px;
    position: relative;
    border-radius: 10px;
    margin: 10px;
}

#email{
    margin:8px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid black;
    width: 96%;
    height: 28%;
    cursor: pointer;
}

.social{
    display: grid;
    grid-template-columns: 30px 30px;
    grid-template-areas: 
    "fb int in";
    text-align: left;
    grid-row-gap: 1px;
    background-color: #fbf5ed;
    justify-content: end;    
}

#subscribe{
    margin-top: 2px;
    padding: 0;
    display: flex;
    justify-content: center;
}