
header{
    display: inline-grid !important;
    justify-content: space-between;
    padding: 400px 40px;
    grid-template-areas: 'logo' 'btn';
    grid-template-rows: 20%;
    grid-template-columns: 200px auto;
    margin: 20px !important;

    .logo{
        grid-area:logo;
        color: #077000;
        background-color: yellow;
        height: auto;
    }

    .nav{
        grid-area:btn;
        border-radius: 10px;
    }

}



